<!-- <p>
home works!
</p> -->

<nav class="navbar navbar-expand-md bg-success navbar-dark">
  <a href="navbar-brand" href="#"> Angular Task Manager</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mynav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="aboutus">About</a>
      </li>
    </ul>
    <form class="form-inline" style="margin-left: 60%">
      <div class="input-group">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" />
        <button class="btn btn-warning" type="button">Search</button>
      </div>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <h1>Welcome to Angular</h1>
  <h2>Hello</h2>
</div>
<div>
  <app-aboutus></app-aboutus>
</div>
<div><app-dashboard></app-dashboard></div>
